<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.art.gallery.model.repository.GalleryRepository">
	
	<insert id="insertAllGalleryInfo">
		insert all
		<foreach collection="galleryList" item="list" close="select * from dual">
			into tb_gallery(USER_ID, F_IDX, BD_NO, PATH, IMG_ORDER)
			values(
				#{list.userId},
				#{list.fIdx},
				#{list.bdNo},
				#{list.path},
				#{list.imgOrder}
			)
		</foreach>
	</insert>
</mapper>