<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.art.gallery.model.repository.GalleryRepository">
	
	<insert id="insertAllGalleryInfo">
		<foreach collection="list" item="item" open="insert all" close="select * from dual" separator=" ">
			into tb_gallery(USER_ID, F_IDX, BD_NO, PATH, IMG_ORDER)
			values(
				#{item.userId},
				#{item.fIdx},
				#{item.bdNo},
				#{item.path},
				#{item.imgOrder}
			)
		</foreach>
	</insert>
	
	<update id="updateAllGalleryInfo">
		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END ;">
			update tb_gallery set
			USER_ID = #{item.userId}, 
			F_IDX = #{item.fIdx}, 
			BD_NO = #{item.bdNo}, 
			PATH = #{item.path} 
			<where>
				IMG_ORDER = #{item.imgOrder} and user_id = #{item.userId}
			</where>
		</foreach>
	</update>
</mapper>