<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.art.board.model.repository.BoardRepository">

	<select id="selectBoardByUserId" resultType="board">
		select * from tb_board
		 where user_id = #{userId}
		 order by bd_no desc
	</select>
	
	<!--장영우 추가-->
	<select id="selectBoardByBdNo" resultType="board">
		SELECT * FROM TB_BOARD
		WHERE BD_NO = #{bdNo}
	</select>
	<!--/장영우 추가-->
	
	<select id="selectFileByBdNo" resultType="fileVo">
		select * from tb_file
		where f_idx in 
		(select f_idx from tb_board_master where bd_no = #{bdNo})
	</select>

</mapper>