/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.jb-a{
			position: relative;
			width: 14rem;
			height: 14rem;
			display: inline-block;
			overflow: hidden;
}

.propic{
			display: block;
			transform: translate(-10px, -10px);
}

.overlay{
			position: absolute;
			transition: all .3s ease;
			opacity: 0;
			background: #D0D3D4;
}

.jb-a:hover .overlay{
			opacity: .6;
}

.textProPic{
	color: black;
	font-family: sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	padding: 8px 32px;
	border-radius: 5px;	
}

.overlayFade{
	height: 100%;
	width:100%;
	top: 0;
	left: 0;
	background: #808080;
	opacity: 0;
}
.jb-a:hover .overlayFade{
	opacity: .7;
}
		